:root {
    --bg-aside: #171717;
    --bg-main: #1f1f1f;
    --main: #FD0054;
    --util: #444;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}


aside {
    width: 15%;
    background-color: var(--bg-aside);
    height: 100vh;
    position: fixed;
    color: #EDEDED;
}

aside h1 {
    display: flex;
    text-align: center;
    min-height: 4vw;
    max-height: 4vw;
    align-items: center;
    justify-content: center;
}

aside h1 span {
    color: var(--main);
}

.utility button{
    width: 100%;
    font-size: large;
    padding: 1vw 0;
    border: none;
    background-color: var(--util);
    color: white;
}

.utility button:hover {
    background-color: var(--main);
    color: var(--bg-aside);
    cursor: pointer;
    transition: 0.25s;
}

.utility i {
    margin-right: 10px;
}

.nav {
    margin-top: 5px;
}

.nav button {
    width: 100%;
    border: none;
    background-color: var(--util);
    padding: 5px 10px;
    color: white;
    text-align: left;
    font-size: medium;
}

.nav button:hover {
    background-color: var(--main);
    transition: 0.25s;
}

.nav i {
    margin-right: 10px;
}


main {
    margin-left: 15%;
    background-color: var(--bg-main);
    height: 100vh;
    color: white;
}

#header {
    display: flex;
    padding: 0 25px;
    background-color: var(--util);
    min-height: 4vw;
    align-items: center;
    font-family: "Share Tech", sans-serif;
    user-select: none;
}

#header h2 {
    padding-right: 20px;
    border-right: 2px solid var(--main);
}

#header p {
    padding-left: 20px;
}

#note-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    grid-auto-rows: 8px;
    column-gap: 16px;
    row-gap: 0;
    padding: 16px;
    align-items: start;
}

.note {
    align-self: start;
}

.note .note-inner {
    padding: 5%;
    text-align: justify;
    max-height: fit-content;
    border-radius: 15px;
    box-shadow: 0 0 5px #606060, 0 0 1px var(--main);
}

.note-inner h5 {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.note-inner p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
    font-size: small;
}

.note .note-inner:hover {
    background-color: #101010;
}

.tag {
    display: flex;
    font-size: smaller;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #999;
    height: 20px;
    width: fit-content;
    padding: 2px 5px;
    border-radius: 20px;
    align-items: center;
    align-content: center;
}

.tag:hover {
    background-color: var(--main);
    border: 1px solid var(--main);
}

.tag i {
    margin-right: 5px;
}

#show {
    background-color: rgba(17, 17, 17, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 25vw;
    padding-top: 10vw;
}

#show-container {
    color: white;
    min-width: 50vw;
    max-width: 50vw;
    min-height: 25vw;
    background-color: var(--bg-aside);
    border: 2px solid white;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
}

#show-container div:focus {
    outline: none;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--util);
}

#show-title {
    font-size: x-large;
    margin-bottom: 10px;
    font-weight: bold;
}

#show-body {
    font-size: medium;
}

#show.invisible {
    visibility: hidden;
}
